<a routerLinkActive="active"  [routerLink]="['/topratedtv']" routerLinkActive="router-link-active">
    <mat-card>
        <mat-card-title>TopRated Tv Shows</mat-card-title>
    </mat-card>
</a> 

<br>
<a routerLinkActive="active"  [routerLink]="['/populartv']" routerLinkActive="router-link-active">
    <mat-card>
        <mat-card-title>Popular Tv Shows</mat-card-title>
    </mat-card>
</a>
<br>
<a routerLinkActive="active"  [routerLink]="['/latesttv']" routerLinkActive="router-link-active">
    <mat-card>
        <mat-card-title>Latest Tv Shows</mat-card-title>
    </mat-card>
</a>