

<div class="row">
    <div class="col-sm-12">
        <div   class="grid-container "  >
           
            <mat-card class="example-card" *ngFor="let i of topRatedMovies"  >
                <a data-toggle="modal" style="cursor: pointer" data-target="#exampleModal" (click)="onSelect(i)">
                <mat-card-header>
                    
                    <mat-card-title>{{i.original_title}}</mat-card-title>
                    <mat-card-subtitle>Language:{{i.original_language}}</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image  class="center" src={{imagepath}}{{i.poster_path}} alt={{i.original_title}}>
                
        
                <mat-card-content class="center">
                    <p>MovieId:{{i.id}}</p>
                   <p>
                       Adult:{{i.adult}}
                   </p> 
                  <p>ReleaseDate:{{i.release_date}}</p>
                  <p>Rating:{{i.vote_average}}</p>
                </mat-card-content>
                </a>
                </mat-card>
                </div>
                </div>
                </div>

              
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                      
                        <mat-card  *ngIf=i  >
                            <mat-card-header >
                                
                                <mat-card-title>{{i.original_title}}</mat-card-title>
                                <mat-card-subtitle>Language: {{i.original_language}}</mat-card-subtitle>
                              </mat-card-header>
                             
                             
                            
                            <mat-card-content class="modal-body" >
                                <div class="row">
                                    <div class="col-sm-8">
               
                                       <img mat-card-image   src={{imagepath}}{{i.backdrop_path}} alt={{imagepath}}{{i.backdrop_path}}>
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="btn btn-danger" (click)="onDeleteRating(i.id)">X</button>
     
                                       </div>
                                    <div class="col-sm-3">
                                        <ngb-rating [max]="5" [(rate)]="currentRating" [readonly]="false "  (leave)="hovered(i.id)"    >
    
                                        </ngb-rating>
    <h5>Your Rating: {{currentRating}}</h5>
                                      </div>
                                   
                                </div>
                                <br>
<div class="row">
    <div class="col-sm-6">
        <p>
            Adult:{{i.adult}}
        </p> 
       <p>ReleaseDate:{{i.release_date}}</p>
       <p>MovieId:{{i.id}}</p>
       <p>RunTime:{{i.runtime}}</p>
        <p>Rating:{{i.vote_average}}</p>
    </div>
    <div class="col-sm-6">
        
        <ul *ngFor="let j of i.production_companies">
          <li>
              {{j.name}}
            </li> 
          </ul>
    </div>
</div>

<h1 *ngIf="!movieProvider">Movie Providers</h1>
<div class="row" *ngIf="movieProvider">
    <h1>Movie Providers</h1>
    <h2>FlatRates</h2>
    <div class="grid-container1">
        <ul *ngFor="let j of movieProvider.flatrate" >
       
            <li>
                
                <img class="img1" src={{imagepath}}{{j.logo_path}} alt={{imagepath}}{{j.logo_path}}>
            </li>
           
               
           
  
        </ul>   
    </div>
    
    <h2>Rent</h2>  
    <div class="grid-container1" >
        <ul *ngFor="let j of movieProvider.rent" class="grid-container">
     
            <li>
                <img class="img1" src={{imagepath}}{{j.logo_path}} alt="">
            </li>
    
        </ul>  
    </div>
    <h2>Buy</h2>
    <div class="grid-container1">
        
        <ul *ngFor="let j of movieProvider.buy" class="grid-container">
            
            <li>
                <img class="img1" src={{imagepath}}{{j.logo_path}} alt="">
            </li>
    
        </ul>        
    </div>
</div>



<div class="row">
    <div class="col-sm-12">
        <h3>OverView</h3>
        <p>  {{i.overview}} </p>
    </div>
</div>
                               
      
                            </mat-card-content>
                            </mat-card>
                  
              <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                         
                      
                        </div>
                      
                    
                    
                    </div>
                    </div>
                  </div> 
                  <ngb-pagination [collectionSize]="280" [(page)]="page" aria-label="Default pagination" (pageChange)="loadPage($event)"></ngb-pagination>